body{
    font-family: 'Times New Roman', Times, serif;
    background-image: linear-gradient(to right, #fc5c7d, #6a82fb); 
}

.x{
    width: 30px;
    height: 30px;
}

input[type=text]{
    border-radius: 5px;
    border: 2px #5e6977 solid;
}

select{
    border-radius: 5px;
    border-color: #f0f4f7;
    background-color: #f0f4f7;
}

#checkout-btn {
    -webkit-transition: all ease 0.8s;
    -moz-transition: all ease 0.8s;
    transition: all ease 0.8s;
    background-color: rgb(106, 106, 213)
  
  }
  
  #checkout-btn:hover {
    box-shadow: inset 600px 0 0 0 black;
    color: #fff;
  }
  